.font13{
    font-size: 13px;
}
.canvas580{
  height: auto;
 }
 .canvas460{
  height: auto;
 }
 .offcanvas-body {
  background-color: #f3f3f3 !important;
 }

 .font18{
  font-size: 18px;
 }
.bottomNav {
  position: fixed;
  bottom: -13px;
  right: 0;
  left: 0;
  background-color: white;
  color: gray;
  box-shadow: 0 0 6px #30303040;
  
}

.z1055{
  z-index: 1055;
}
 
.bottomNav ul li {
  display: inline-block;
  width: 20%;
}

 
.bottomTitle {
  margin: 0;
  font-size: 11px;
}



.middle_bottom {
  background-color: #f7941d;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  border: solid white 2px;
  color: white;
}

.relative{
    position: relative;
}


.blue{
  background-color: #0764a8;
  color: white;
  }
  
  .red{
  color: white;
  background-color: #ac1a5c;
  }
 

  .minHeight{
    min-height: 70px;
}