
#example-search-input{
  padding-left: 30px;
}
 
.fa-search{
  position: absolute;
  left: 10px;
  top:9px;
  
}

#example-search-input{
  padding-left: 30px;
}



.listItemm{ 
 left: 5px;
 right: 10px;
  height: 3px;
  background: red;
  position: absolute;
  animation-name: example;
  animation-duration: 0.2s;  
   background-color:#a3bd43;
  animation-fill-mode: forwards;
}
.lineGreen{
  left: 5px;
  right: 10px;
  height: 3px;
  background: red;
  position: absolute;
  animation-name: example1;
  animation-duration: 0.2s;  
   background-color:#a3bd43;
  animation-fill-mode: forwards;
}
@keyframes example1 {
  from {bottom: 0px; left:5px; right:10px;}
  to {bottom: 36px; left:5px; right:10px;height: 0;}
}
@keyframes example {
  from {top: 0px; left:5px; right:10px;}
  to {top: 36px; left:5px; right:10px;}
}

  
#example-search-input::placeholder{
  color: gray;
  font-size: 15px;
}
.searchModify{
  background-color: #a3bd43;
  color: white;
}



.greenPos{
  background-color: #a3bd43;
  width: 25%;
  padding: 13px 0px;
  overflow: hidden;
  position: absolute;
  top:0;
  right: 0;
}
  .info-widget {
          width:100%;
          border: 1px solid black;
          display: inline-block;
        }
  
        .middle {
           float: left;
          width: 100%;
          overflow: hidden;
          /*will change this to hidden later to deny scolling to user*/
          white-space: nowrap;
        }

.images{
    position: relative;
}
.leftArrow{
position: absolute;
top:58%;
left: 5px;
cursor: pointer;
color: gray;
}
.rightArrow{
position: absolute;
top:58%;
right: 5px;
cursor: pointer;
color: gray;
}


.blue{
background-color: #0764a8;
color: white;
}

.red{
color: white;
background-color: #ac1a5c;
}

 

.pointS{
    background-color: #80808033;
}

.relative{
    position: relative;
}

.freGV{
    position: absolute;
    background: #a3bd43;
    border: 2px solid #b6d34b;
    padding: 5px 5px 5px 20px;
    color: #000;
    border-radius: 20px 0px 0px 20px;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    right: 0;
    bottom: 10px;
    max-width: 90%;
    line-height: 1;

}

.plus{
  position: absolute;
  left: -9px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}


li{
    list-style: none;
    height: 31px;
}


// 12344
.navBar{
  overflow-x: auto;
  overflow-y: hidden;
  // padding: 9px;
}

 

.drop{
  position: absolute;
  left:40px;
  right: 135px;
  background-color: white;
  top:40px;
  box-shadow: 1px 1px 4px gray;
  z-index: 3;
}

 .decorate{
   color: rgb(66, 142, 228);
 }
 .bgGrayHover:hover{
  background-color:#e9e4e4;
 }

 .checkButton{
  background-color: gray;
 }
 .font13{
  font-size: 13px;
 }

 .discount{
  background-color: #929292;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  }

  .green{
    background-color: #a3bd43;
    color: black;
  }

.footer{
  background-color: #343539 !important;
  color: white;
}
.footerSide{
  padding: 0 20px;
  border-right: solid white 1px;
}
.footerTop{
  font-size: 15px;
}
.footerBottom{
  font-size: 13px;
}
.aboutGyFTR{
  cursor: pointer;
}
 

.background-div {
  background-color: white;
  padding: 10px;
  min-height: 98%;
}
.background-div1 {
  // background-color: rgb(240, 120, 120);
  min-height: 98%;
}

 

/* Your component's CSS */
.modal_button{
  position: absolute;
  right: 10px;
  top : 10px;
  z-index: 4;
}

.example-container {
  width: auto;
  height: 100%;
 
 
}
mat-drawer{
  width: 300px;
}
 

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-input {
  max-width: 100%;
  width: 300px;
}
.offcanvas{
  position: absolute !important;
  
}
 
.Craousel{
  position: relative;
}

.smallBorder{
  height: 2px;
  background-color: gray;
  width: 35px;
}






.BottomCategories{
  color: gray;
}
#offcanvasBottom{
  height: 410px;
}




@media (max-width: 768px) { /* Change the breakpoint if needed */
  .modal-fullscreen-md-down {
      width: 100%;
      max-width: none;
  }

  .modal-content {
      border: none;
      border-radius: 0;
  }

  .modal_button {
      position: fixed;
      top: 10px;
      right: 10px;
  }

  /* Add any other custom styling for small screens here */
}

.font12{
  font-size: 12px;
}

.viewAll{
  background: #e3f2ff;
  padding: 5px 0;
}
.viewAll:hover{
  background: #c3e2fd;
 }

 