<app-top-header></app-top-header>
<app-header class="d-md-block d-none"></app-header>
<picture>
    <source srcset="https://www.gyftr.com/static/images/loyalty-banner-mob.png" media="(max-width: 600px)">
     <source srcset="https://www.gyftr.com/static/images/loyalty-banner-desk.png">
    <img src="https://www.gyftr.com/static/images/loyalty-banner-desk.png"   class="w-100">
  </picture>
  

<div class="container-xl   px-4">
    <h4 class="border-bottom pb-2 pt-3 mb-3 fw-bold">Loyalty Program | T&C</h4>
    <ul class="ps-4 fs-16">
        <li>A Customer can earn Reward Points (E-Pay) in the range of 0.5%, 1.0%, 1.5%   2.0% basis the amount paid
            against any transaction.</li>
        <li>Reward Points (E-Pay) are valid for 30 days from the date of credit.</li>
        <li>Reward Points (E-Pay) cannot be revalidated once expired</li>
        <li>Reward Points (E-Pay) will be credited to your E-Pay wallet immediately after the voucher is delivered.</li>
        <li>Reward Points (E-Pay) can be earned on buying Gift Vouchers using Debit Card/Credit Card/UPI/PayTM
            wallets/Mobikwik wallets netbanking</li>
        <li>Reward Points cannot be earned on buying Gift Vouchers via E-Pay</li>
        <li>The GyFTR Loyalty Program is a property of GyFTR. The terms conditions are subject to change as per <a
                href="/">www.BenepikGyftr.com</a> guidelines</li>
    </ul>

    <h4 class="border-bottom pb-2 mb-3 fw-bold">More About the GyFTR Loyalty Program</h4>
    <p class="">GyFTR Loyalty Program gives all GyFTR registered users a special advantage everytime they buy a
        Gift Card from <a href="/">www.BenepikGyftr.com</a>. With exciting offers on more than 200+ top brand Gift Cards, the
        Loyalty Program adds to the joy of shopping!</p>
    <p class="mb-0 ">GyFTR offers up to 2% E-Pay on every brand voucher you shop!</p>
    <p class="mt-0">1 E-Pay = ₹1/-</p>
    <p class="">You can now shop Gift Cards at discounted prices for all your needs from categories like Apparel
        Accessories, Food Beverages, Mobile Electronics, Health Wellness, Groceries Home needs, E-comm online,
        Entertainment Magazines, or Cabs Travel, the variety is endless.</p>

    <p class="fs-16">So whether you are buying everyday groceries or going for a vacation, the GyFTR Loyalty Program
        will always make you smile more with E-Pay every time you shop for a Gift Card.</p>

    <strong>How can you benefit from the GyFTR Loyalty Program?</strong>
    <p>GyFTR Loyalty Program is designed to appease our customers and assist them in shopping with ease. The Loyalty
        Program allows you to collect E-Pay on every purchase of a Gift Card on<a href="/">www.BenepikGyftr.com</a>.</p>

    <ul class="ps-4 fs-16">
        <li>Save money through discounts on Gift Cards</li>
        <li>Increase your credit score with every purchase of Gift Cards</li>
        <li>Earn E-Pay on every Gift Card purchased</li>
        <li>Claim your E-Pay as well as discounts and offers on your consecutive Brand Gift Card purchases</li>
        <li>Elevate your shopping experience with GyFTR Loyalty Program</li>
    </ul>

    <strong>Loyalty Programs for Special Occasions</strong>
    <p class="fs-16">GyFTR Loyalty Program is a program that celebrates customer loyalty. It allows all customers to
        earn as they shop. Now buy Gift Cards for special occasions and special people in your life and earn E-Pay on
        every purchase. Collect and claim your E-pay on your next purchase while enjoying exclusive discounts as well as
        special offers. Buy Gift Cards for Diwali gifting, Valentine‘s Day, Christmas, New Year, birthdays,
        anniversaries and much more.</p>

    <strong>Loyalty Program for Corporate Gifting Occasions</strong>
    <p class="fs-16">Planning on getting Gifts for corporate functions, office Diwali Parties or just to exchange
        pleasantries with clients and business partners, buy Gift Cards in bulk and earn E-Pay to shop later. Claim and
        redeem E-Pay to buy Gift Cards and enjoy massive discounts on your shopping.</p>

    <strong>How To Buy a Gift Card from GyFTR?</strong>
    <ul class="ps-4 fs-16">
        <li>To Buy A GyFTR Gift Card, Visit <a href="/">www.BenepikGyftr.com</a></li>
        <li>Login using your account credentials or register as a new user</li>
        <li>Choose your category to shop from </li>
        <li>Choose the brand you want to buy a Gift Card of</li>
        <li>Choose the denomination you want to select from the Add button</li>
        <li>Click on the BUY NOW button and pay for your Gift Card</li>
        <li>After the transaction process is completed, your accumulated E-Pay will be credited to your account </li>
    </ul>

    <strong>How To Redeem GyFTR Loyalty Program E-Pay?</strong>
    <ul class="ps-4 fs-16">
        <li>Check your E-Pay collection, by logging into your GyFTR account.</li>
        <li>On your next purchase, use your E-Pay to enjoy slashed prices on your chosen Gift Card!</li>
    </ul>

    <strong>What If My GyFTR Loyalty Program E-Pay Expires?</strong>
    <p class="fs-16">The GyFTR Loyalty Program E-Pay must be used before their validity date. The GyFTR Loyalty Program
        E-Pay is not eligible for revalidation upon expiration. </p>
</div>

<app-footer></app-footer>